.defaultButton {
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-top:0.5em;
    margin-bottom:0.5em;
    background-color: #1f3e94;
    border-radius: 11px;
    box-sizing: border-box;
    font-size: 0.95em;
    justify-content: center;
    line-height: 33.4929px;
    padding: .5em .8em;
    text-align: center;
    text-decoration: none;
    text-decoration-skip-ink: auto;
    text-shadow: rgba(0, 0, 0, .3) 1px 1px 1px;
    border:0;
    color: white;

}

.imgButton {
  display:block;
  margin-left:auto;
  margin-right:auto;
  margin-top:1em;
  margin-bottom:1em;
  background-color:transparent;
  border:none;
}

/* CSS reference */
.button-44 {
  background: #1f3e94;
  border-radius: 11px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: flex;
  font-family: Mija,-apple-system,BlinkMacSystemFont,Roboto,"Roboto Slab","Droid Serif","Segoe UI",system-ui,Arial,sans-serif;
  font-size: 1.45em;
  font-weight: 700;
  justify-content: center;
  line-height: 33.4929px;
  padding: .8em 1em;
  text-align: center;
  text-decoration: none;
  text-decoration-skip-ink: auto;
  text-shadow: rgba(0, 0, 0, .3) 1px 1px 1px;
  text-underline-offset: 1px;
  transition: all .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  word-break: break-word;
  border: 0;
}

.button-44:active,
.button-44:focus {
  border-bottom-style: none;
  border-color: #dadada;
  box-shadow: rgba(0, 0, 0, .3) 0 3px 3px inset;
  outline: 0;
}

.button-44:hover {
  border-bottom-style: none;
  border-color: #dadada;
}