.wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    padding: 10px;
    color: white;
    border: 2px solid;
}

.label {
    display: block;
    color: white;
    text-align: center;
}

.input {
    padding: 3px;
    margin: 5px;
}

h3, h2 {
    text-align: center;
    color: white;
}

.submitBtn {
    margin-top: 15px !important;
}

@media only screen and (max-width: 412px) {
 .wrapper {
     width: 200px;
 }   
}