
.centerText {
    text-align: center;
}


.logo {
    display:block;
    margin:auto;
}

.flex_container {
    display:flex;
    flex-direction: row;
    flex-flow:row wrap;
}
.buttonMenu {
    flex:1;
}

.buttonMenu Button {
    margin-bottom:10px;
}

.game_descriptor {
    margin-left:auto;
    margin-right:auto;
    margin-bottom:30px;
    color:white;
    text-align:left;
    padding:10px 20px 20px 20px;
    border-right:double 5px #3A3A3C;
    flex:2;

}

.desc_title {
    text-align: left;
}

.game_descriptor p {
    margin:0;
}

.how_to_div {
    margin-left:auto;
    margin-right:auto;
    margin-bottom:30px;
    color:white;
    text-align:left;
    padding:10px 30px 10px 30px;
    flex:2;
}

.how_to {
    padding:1em;
    list-style-type:decimal;
}


@media only screen and (max-width: 600px) {
    .status {
        margin-top:30px;
        margin-bottom:30px;
    }
    .flex-container {
      flex-direction: column;
    }
    .buttonMenu {
        flex:1;
        margin-top:100px;
    }
    .game_descriptor {
        flex:1;
        border-right: none;
    }
    .how_to_div {
        flex:1;
        border-top: double 5px #3A3A3C
    }
    .how_to_div .desc_title {
        text-align: center;
    }
  }
