.leaderboard {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    font-size: 2em;
    font-family: monospace;
    min-width: 350px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.524);
}

.leaderboard thead tr {
    background-color: #202020;
    /*#0077b6;*/
    color: #ffffff;
    text-align: left;
}

.leaderboard th,
.leaderboard td {
    padding: 12px 15px
}

.leaderboard tbody tr {
    background-color: #4f4f4f
        /*#90e0ef*/
    ;
    border-bottom: 1px solid #101;
    color: white;
}

.leaderboard tbody tr:nth-of-type(even) {
    background-color: #9e9e9e
        /*#f3f3f3*/
    ;
    color: white;
}

.title {
    text-align: center;
    color: white;
}

.buttonMenu {
    margin-top: 20px;
}

.buttonMenu Button {
    margin-top:10px;
    margin-bottom:10px;
}

.wrapper > button {
    margin-left: 37%;
    margin-right: auto;
}

#leaderboard {
  border-collapse: collapse;
  font-size: 2em;
  font-family: monospace;
  min-width: 350px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.524);
}

#leaderboard thead tr {
  background-color: #202020; /*#0077b6;*/
  color: #ffffff;
  text-align: left;
}

#leaderboard th, #leaderboard td {
  padding: 12px 15px
}

#leaderboard tbody tr {
  background-color: #4f4f4f /*#90e0ef*/;
  border-bottom: 1px solid #101;
  color:white;
}

#leaderboard tbody tr:nth-of-type(even) {
  background-color: #9e9e9e/*#f3f3f3*/;
  color:white;
}

.backWrapper > button {
    margin: 10px;
}

@media only screen and (max-width: 412px) {
    .backWrapper > button {
        margin-left: 8px;
    }
}